*.ipynb
__pycache__
*.pyc
GRPO
outputs
wandb
models
logs
checkpoints
checkpoint-*
*.pt
*.pth
*.bin
*.safetensors
*.ckpt
*.onnx
*.h5
*.zip
*.tar
*.tar.gz
gsm8k/**/cache-*.arrow
gsm8k/**/data-*.arrow
gsm8k/**/state.json
gsm8k/**/dataset_info.json
gsm8k/dataset_dict.json
